body{
  background: url("../images/binary.jpg") ;
}
.about {
  transform-style: preserve-3d;
background-position: center;
background-color: inherit;
text-decoration-color: blue;
}
.intro{
  text-align: center;
  font-family: serif;
  color: white;



}
.title{
  text-align: center;
  font-family: serif;
  color: white;
  font-size: 50px;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;

}
.click {
  text-align: center;
  font-family: serif;
  color: white;
}
